body {
    background-color: rgb(211, 241, 101);
}

h1 {
    font-family: 'Inspiration', cursive;
    text-align: center;
    font-size: 10px;
    margin-top: 4%;
}

.form {
    text-align: center;
    display: inline-grid;
    align-items: center;
    margin-left: 42%;
    margin-top: 13%;
    border-bottom: black;
}

label {
    font-family: 'Inspiration', cursive;
    font-size: 188%;
}

input {
    margin-top: 4%;
    border-radius: 13px;
}

button {
    border-radius: 13px;
    margin-top: 4%;
}